.slider-component{
  @include media-breakpoint-down(md) {
    height: calc(100vw * (.3)) !important;
  }
  .image-link{
    display: inline-block;
    height: 100%;
  }
  .slider-img{
    &__fill{
      object-fit: fill;
    }
    &__cover{
      object-fit: cover;
    }
    &__contain{
      object-fit: contain;
    }
  }
  .carousel-caption{
    padding-top: 15%;
    .title1, .custom-html {
      text-shadow: 3px 2px 3px $gray-600;
    }
  }
  .carousel-control-prev, .carousel-control-next {
    opacity: 1;
    z-index: 99;
    width: 40px;
    display: block;
    top: 50%;
    position: absolute;
    right: auto;
    left: 0;
    height: 40px;
    margin-top: -20px;
    font-size: 4em;
    color: $white;
    line-height: 0.5;
    i {
      line-height: 0.5;
    }
    &.carousel-control-next{
      right: 0!important;
      left: auto!important;
    }
    &:hover {
      color: $primary;
    }
  }

  &.owl-with-dots{
    .owl-dots{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    &.carousel-indicators-position-left, &.carousel-indicators-position-right{
      .owl-dots{
        margin: 15px !important;
      }
    }
    &.carousel-indicators-position-right{
      .owl-dots {
        left: auto;
      }
    }
    &.carousel-indicators-position-left{
      .owl-dots {
        right: auto;
      }
    }
  }
  .carousel-indicators{
    &.carousel-indicators-position-left, &.carousel-indicators-position-right{
      margin: 15px !important;
    }
    &.carousel-indicators-position-right{
      left: auto;
    }
    &.carousel-indicators-position-left{
      left: auto;
    }
  }
  &.carousel-indicators-style-square, .carousel-indicators-style-square, &.carousel-indicators-style-circle, .carousel-indicators-style-circle{
    li,.owl-dots .owl-dot span{
      width: 11px;
      height: 11px;
      border-radius: 50%;
      margin: 5px;
      border: 2px solid $primary;
      background-color: $primary;
      position: relative;
      background-clip: border-box;
      opacity: 1;
      flex: 0 1 auto;
    }
    .owl-dots .owl-dot span{
      width: 15px;
      height: 15px;
    }
    li.active, .owl-dots .owl-dot.active span{
      border: 2px solid #fff;
      background-color: transparent;
      &:after{
        height: 7px;
        width: 7px !important;
        background-color: #fff;
        border-radius: 50%;
        bottom: 2px !important;
        left: 2px !important;
        content: "";
        position: absolute;
      }
    }
  }
  &.carousel-indicators-style-square, .carousel-indicators-style-square{
    li,.owl-dots .owl-dot span{
      border-radius: 0;
    }
    li.active,.owl-dots .owl-dot.active span{
      &:after{
        border-radius: 0;
      }
    }
  }
  &.carousel-indicators-style-line, .carousel-indicators-style-line{
    li,.owl-dots .owl-dot span{
      box-sizing: content-box;
      flex: 0 1 auto;
      width: 30px;
      height: 3px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #fff;
      background-clip: padding-box;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      opacity: 0.5;
      transition: opacity 0.6s ease;
      border-radius: 0;
    }
    li.active, .owl-dots .owl-dot.active span{
      opacity: 1;
    }
  }

}
.slider-component.owl-slider-layout-1{
  .owl-stage-outer, .owl-stage, .owl-item{
    height: 100% !important;
  }
  .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: left;
    margin-top: -20px;
    [class*=owl-]{
      width: 40px;
      height: 40px;
      color: $white;
      font-size: 4em;
      padding: 0 5px;
      line-height: 0.5;
      i {
        line-height: 0.5;
      }
      &:hover {
        color: $primary;
        background-color: transparent;
      }
    }
    .owl-next {
      float: right;
    }
  }
}

.bootstrap-slider-layout-2 {
  position: relative;
  background-image: linear-gradient(to right, $primary 0%, $secondary 100%);
  padding-top: 46px;
  overflow: hidden;


  .carousel-inner {
    z-index: 10;
  }

  .carousel-item {
    &__wrapper {
      filter: drop-shadow(0 10px 10px rgba($black, 0.2));
      margin-bottom: 15px;
    }

    &__image {
      position: relative;
      max-width: 463px;
      height: 0;
      padding-bottom: 100%;
      margin: 0 auto;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }
  }

  .carousel-indicators {
    bottom: 110px;
    margin: 0;

    li {
      position: relative;
      width: 13px;
      height: 13px;
      background-color: transparent;
      text-indent: initial;
      opacity: 1;
      margin: 0;
      border: 2px solid $white;
      border-radius: 50%;

      &:before {
        @include pseudo;
        left: 3px;
        top: 3px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
      }

      &:after {
        display: none;
      }

      &.active {
        &:before {
          background-color: $white;
        }
      }

      &:not(:last-child) {
        margin: 0 4px 0 0;
      }
    }
  }

  /***** Media Queries *****/
  @include media-breakpoint-up(lg) {
    .carousel-indicators {
      @include translateY-prefixes;
      left: 32px;
      right: initial;
      bottom: initial;
      flex-direction: column;

      li {
        &:not(:last-child) {
          margin: 0 0 4px;
        }
      }
    }
  }

  @include media-breakpoint-down(lg) {
    .carousel-inner {
      padding-bottom: 70px;
    }
  }

  @include media-breakpoint-down(sm) {
    padding-top: 20px;

    .carousel-indicators {
      bottom: 130px;
    }

    .carousel-inner {
      padding-bottom: 150px;
    }

    .carousel-item {
      &__caption {
        font-size: 24px;
      }
    }
  }
}

.bootstrap-slider-layout-3 {

  .carousel {
    .icon {
      top: 20px;
      left: 20px;
      z-index: 9;
    }

    .title {
      font-size:60px;
      font-weight: bold;
      color: $white;
      b, strong {
        font-weight: bold;
      }
    }
    .custom-html {
      margin-bottom: 15px;
      color: $white;
      p, h1, h2, h3, h4, h5, h6 {
        font-size:23px;
        margin-bottom: 0;
      }
    }
    .btn {
      font-size:20px;
      padding: 7px 30px;
      border-radius: 50rem !important;
      background-color: $secondary;
      border-color: $secondary;
      color: $white;
      font-weight: 600;
    }



    .carousel-control-prev, .carousel-control-next {
      z-index: 99;
      top: auto;
      bottom: 10px;
      width: auto;
      opacity: 1;

      i {
        font-size: 25px;
        color: $white;
      }
    }

    .carousel-control-prev {
      left: 48%;
    }

    .carousel-control-next {
      right: 48%;
    }


    .carousel-item {

      .carousel-caption {
        right: 0;
        bottom: 2%;
        left: 0;

        .image-circle {
          width: 400px;
          height: 400px;
          border-radius: 50%;
          background-color: $primary;
          background: linear-gradient(to right, #962b33 1%, #d32e34 100%);

          img {
            width: 380px;
            height: 380px;
            margin-left: 10px;
            border-radius: 50%;
            margin-top: 5px;
            object-fit: cover;
          }
        }


      }


    }

    .img-fondo {
      height: 550px;
      object-fit: cover;
      @include media-breakpoint-down(md) {
        height: 400px;
      }
    }

  }


  @include media-breakpoint-down(sm) {
    .carousel {
      .carousel-control {
        display: none;
      }

      .title {
        font-size:30px;
      }

      .custom-html {
        p, h1, h2, h3, h4, h5, h6 {
          font-size:16px;
        }
      }

      .carousel-item {
        .carousel-caption {
          right: 2%;
          left: 2%;
        }
      }
    }
  }


}

/*OWL*/
.owl-slider-layout-2 {

  .cover-image {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    min-height: 400px;
  }
  .cover-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include media-breakpoint-down(lg) {
    .cover-img {
      position: relative;
    }
  }

}

.owl-slider-layout-3 {
  .bg-image {
    height: 0;
    padding-bottom: 100%;
    position: relative;
    display: block;
    margin-bottom: 15px;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      left: 0;
      top:0;
    }
  }
}